<!DOCTYPE html>
<html>
	<head>
		<title>Paste™ - {{ name }}</title>

		<script src="//cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>

		<link rel="stylesheet" href="//cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"/>
		<script src="//cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

		<style>
			main {
				margin-top: 7em;
				margin-bottom: 7em;
			}

			.highlighttable {
				display: block;
				overflow: scroll;
			}

			.highlighttable .linenos {
				padding-right: 1em;
			}
		</style>

		<style>
		{{ pygments }}
		</style>
	</head>

	<body>
		<header class="ui fixed inverted menu">
			<nav class="ui container">
				<a class="header item" href="/">Paste™</a>
				<a class="item" href="/latest">Latest</a>
			</nav>
		</header>
		<main class="ui main container">
			<h1 class="ui header">{{ name }}</h1>

			<div class="ui label"><i class="calendar icon"></i> {{ date }}</div>
			<div class="ui label"><i class="code icon"></i> {{ language }}</div>
			<div class="ui label"><i class="trash icon"></i> {{ expires }}</div>

			<div class="ui segment">
				{{ code }}
			</div>
		</main>
	</body>
</html>
